# {{ansible_managed}}

version: '2'

services:

  redis:
    image: redis:alpine
    restart: always
    networks:
      - internal

  # port 5432
  db:
    image: postgres:latest
    restart: always
    volumes:
      - ./db:/var/lib/postgresql/data
    env_file: .env
    networks:
      - internal

  app:
    image: nextcloud:24-apache
    hostname: nextcloud
    container_name: {{ nextcloud_container_name }}
    restart: always
    mem_limit: 2048m
    mem_reservation: 512m
    expose:
      - 80
    links:
      - db
      - redis
    volumes:
      - ./nextcloud:/var/www/html
      - ./apps:/var/www/html/custom_apps
      - ./config:/var/www/html/config
      - cifs-cloudstorage:/var/www/html/data:rw
    env_file: .env
    environment:
      - POSTGRES_HOST=db
      - REDIS_HOST=redis
      # for Apache to work with reverse proxy
      - APACHE_DISABLE_REWRITE_IP=1
      # set to reverse proxy IP address, i.e. caddy
      - TRUSTED_PROXIES=172.16.0.0/12
      - NEXTCLOUD_TRUSTED_DOMAINS=kbck.at
    networks:
      - proxy_{{ nextcloud_container_name }}
      - internal
    depends_on:
      - db
      - redis

  cron:
    image: nextcloud:24-apache
    restart: always
    volumes:
      - ./nextcloud:/var/www/html:rw
      - ./apps:/var/www/html/custom_apps:rw
      - ./config:/var/www/html/config:rw
      - cifs-cloudstorage:/var/www/html/data:rw
    networks:
      - internal
    entrypoint: /cron.sh
    depends_on:
      - db
      - redis

volumes:
  cifs-cloudstorage:
    driver_opts:
      type: cifs
      o: "username={{ nextcloud_cifs_user }},password={{ nextcloud_cifs_pass }},uid={{ nextcloud_cifs_uid }},gid={{ nextcloud_cifs_gid }},vers=3.0,rw,dir_mode=0770,file_mode=0600"
      device: "//{{ nas_ip_address }}/{{ nextcloud_cifs_share }}"

networks:
  proxy_{{ nextcloud_container_name }}:
    external: true
  internal:
    internal: true
